<section class="widget">
    <h2>GPW</h2>
    <p>Giełda Papierów Wartościowych w Warszawie jest spółką akcyjną powołaną przez Skarb Państwa. Zadaniem GPW jest organizacja obrotu instrumentami finansowymi. Giełda zapewnia koncentrację w jednym miejscu i czasie ofert kupujących i sprzedających w celu wyznaczenia kursu i realizacji transakcji. Na stronie notowania giełdowe, indeksy notowań.</p>
    <p><a class="btn btn-default" href="http://www.gpw.pl/" role="button">Czytaj więcej &raquo;</a></p>
</section>