<section class="widget">
    <h2>Aktualnie oberwuję</h2>
    <ul>
        <li>ASSECO POLAND</li>
        <li>GRUPA AZOTY</li>
        <li>CCC</li>
        <li>GRUPA LOTOS</li>
        <li>NETIA</li>
        <li>TAURON POLSKA ENERGIA</li>
        <li>POLSKI KONCERN NAFTOWY ORLEN</li>
    </ul>
    <p><a class="btn btn-default" href="http://www.gpw.pl/lista_spolek" role="button">Wszystkie spółki &raquo;</a></p>
</section>
