<section class="widget">
    <h2>W portfelu</h2>
    <ul>
        <li>ABC DATA - 4,30 zł</li>
        <li>KOMPUTRONIK - 8,56 zł</li>
        <li>AVIA SOLUTIONS GROUP AB - 35,21 zł</li>
        <li>ORZEŁ BIAŁY - 12,15 zł</li>
        <li>AMREST HOLDINGS SE - 90,35 zł</li>
        <li>WESTA ISIC S.A. - 0,60 zł</li>
        <li>ENERGA - 17,10 zł</li>
    </ul>
    <p><a class="btn btn-default" href="dziennik.html" role="button">Pełny dziennik &raquo;</a></p>
</section>