{% extends "TgorzTrainingBundle:Blog:sidebarLayout.html.twig" %}
{% if loginForm is not null %}
    {% form_theme loginForm 'TgorzTrainingBundle:Form:form_theme.html.twig' %}
{% endif %}
{% block pageTitle %} 
    Zaloguj się  | {{ parent() }}
{% endblock %}
{% block  contentContainer %}
    <article class="col-md-8">
        <h1>Zaloguj się</h1>
        
        
        {% if error %}
            <div> {{ error.messageKey|trans(error.messageData, 'security') }} </div>
        {% endif %}
        
        {{ form(loginForm, {'action': path('security_login') }) }}
    </article>
{% endblock %}