{% extends "TgorzTrainingBundle:Blog:sidebarLayout.html.twig" %}
{% if form is not null %}
    {% form_theme form 'TgorzTrainingBundle:Form:form_theme.html.twig' %}
{% endif %}
{% block pageTitle %} 
    Lista rejstracji | {{ parent() }}
{% endblock %}
{% block  contentContainer %}
    <article class="col-md-8 journal">
        <h1>Rejestracja Użytkownika</h1>

        {% if form is not null %}
            {{ form(form, {'attr': {'novalidate': 'novalidate'} }) }}
        {% else %}

            <div class="panel panel-success">
                <div class="panel-heading">Już się zarejestrowałeś na szkolenie</div>
                <div class="panel-body">Twoje zgłoszenie rejestracyjne jest przetwarzane.</div>
            </div>
        {%endif%}


    </article>

{% endblock %}
