{# app/Resources/EduwebTrainingBundle/views/Blog/about.html.twig #}

{% extends "TgorzTrainingBundle::base.html.twig" %}

{% block pageTitle %}
    O mnie | {{ parent() }}
{% endblock %}

{% block pageContainer %}
    <div class="container">
        <!-- Example row of columns -->
        <div class="row extra-padding">
            <div class="col-md-12">
                <article class="about clearfix">
                    <div class="bio">
                        <h1>Janek Złotówka</h1>
                        <p><strong>Lorem ipsum dolor sit amet mi augue, sagittis vel, ornare id, turpis.</strong> Nullam augue eu neque eu libero. Aliquam erat volutpat. Nam dolor sit amet augue leo, ac nibh placerat quam. Integer sit amet ipsum dolor cursus wisi vel blandit egestas quam in augue. Maecenas eu odio. Nam dictum lectus non nibh ac lacus. Cras luctus et turpis. Proin nunc semper convallis. Suspendisse potenti. Vestibulum fermentum. Vivamus laoreet viverra fermentum mi, nec libero. Nulla varius, sem ut quam ipsum, vel lectus. Curabitur ultrices varius. Ut eu urna. Donec condimentum quam. Sed nonummy malesuada, arcu erat, ut quam nec massa. Maecenas vitae neque vitae mauris. Donec faucibus eu, bibendum quis, odio. Vestibulum eget urna. Nulla mi at quam. Mauris interdum dui nulla, auctor nibh, imperdiet quis, pellentesque purus, nec nunc vitae lectus at sapien. Morbi pede. In turpis egestas. Suspendisse est eu sem tincidunt lorem. In fermentum. Aliquam ultricies sollicitudin. Vestibulum aliquam tellus dui nunc, tempus rutrum euismod, quam at turpis.</p>
                        <hr/>
                        <p><strong>Aenean vel risus.</strong> Mauris pellentesque, wisi. Integer nibh porta scelerisque, quam at nulla. Nunc elementum. Morbi dignissim, imperdiet sed, posuere tristique ullamcorper. Nam consectetuer lobortis vitae, imperdiet id, urna. Sed leo vulputate sagittis, mi vel neque at ante. Maecenas mi quam molestie aliquam. Nunc placerat pharetra velit sit amet dolor. Ut vel lorem. Cras ac magna tincidunt rutrum ut, ultricies porta. Quisque eu neque ut enim. Phasellus fermentum, metus nisl, a purus. Duis vehicula enim sapien sodales neque mauris, interdum adipiscing elit. Proin at urna mauris, consectetuer egestas, justo vel urna eu justo. Suspendisse sollicitudin. Praesent vitae magna neque, mattis rhoncus libero dolor, porttitor vel, metus. Curabitur commodo. Suspendisse sollicitudin. Cras tempus vitae, dapibus nisl. Sed placerat. Mauris vel tortor. Vivamus pede. Sed diam vestibulum ligula. Sed pellentesque dapibus in, ipsum. Fusce tempor lorem. Curabitur placerat, nisl sapien vitae neque nibh vel urna ullamcorper risus. Vivamus ut urna quis orci. Nunc et turpis. Aenean vulputate quam. Nunc ultricies iaculis nisl.</p>
                        <hr/>
                        <p><strong>Pozdrawiam, Janek</strong></p>
                    </div>

                    <img class="img-thumbnail" src="{{ asset('bundles/tgorztraining/img/me.jpg') }}" alt="">
                </article>
            </div>
        </div>

    </div> <!-- /container -->
{% endblock %}